@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-black transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-slate-900 text-white;
  }
}

@theme {
  --animate-wave: wave 4s ease-in-out infinite;
  
  @keyframes wave {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }
}